MONGODB_URL='mongodb://localhost:27017/filmes-db'
SECRET=MIICWwIBAAKBgHDCFURIrSCLan2+SaZIo7CwQcd6afrRZkF2Q7UEk6G4G18rwAc9rOpXe2wFcBS8BFamK0yDzTVwnV4R2fhRJGJsHrZNJfLvNtEOicTaXE/I/DdBumMgQSipraslXuuAzl+Rx/hhhI4NMJT3u7nmOn6XLv955MmLOewmDT/P/h1fAgMBAAECgYAxqiq30tL+nKmhDOlfpmsC7f9rH04CvayudKrJ1mQ4POFBgAGqrs20wieIorSFTXMTv0kfAIaoXRvTTUWWjBbb79Nzgobw0W8qs4gEmOQcZnDJZK40h6MmBuObQ28x4oT85J7dK4Gu2C9g4oHBnV3WF4bdDNPHmNI1uX//bplyUQJBAN7P9TiZOTOdy3ojXHJcVWdzu/iZd1L6DjEasO4TDo51Qa/Cd7XN4SPRDL6en8a6EXCGd56mmzUIUxB9ezxopFUCQQCBjaft4PcHbJJDsJDNqbF1cP/E3csGaXIJ8245r9Fd6oNg046FKclKzR7P9lhn6NT42kKvMbnMZUwAUKIXGM7jAkBDEVfgDIciWVoZTrGSHub6N+UZ5J/9UxWYhE9DqmrUSMlX7XJ5QBqH3HI4oqi3eeSr+V3iXIYVhYbzTMIeoeTtAkAcCG/u7D/nzllz5i/fILnyhKoDik6VK5nuh0sxllbCcK1O9VggfmM9GVdyfoawrVPwKSJG0Ia4sK6aXthEES0rAkEAzSa276NOmNJArAlY6MFD2ZSrr0MPQf4gSDIRHECrwTW1L23EYIVjFQGxvAwJkD1u5I+eypI4iMVTdV9Qrrmzhw==